<h1>Edit user_card</h1>

<form id="edit-user_card" name="user_card">
  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="card_id"> card_id:</label>
    <input type="text" name="card_id" id="card_id" value="<%= card_id %>" >
  </div>

  <div class="field">
    <label for="card_pack_id"> card_pack_id:</label>
    <input type="text" name="card_pack_id" id="card_pack_id" value="<%= card_pack_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User card" />
  </div>

</form>

<a href="#/index">Back</a>