<h1>Listing user_cards</h1>

<table id="user_cards-table">
  <tr>
    <th>User</th>
    <th>Card</th>
    <th>Card pack</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User card</a>