<div id="card_packs"></div>

<script type="text/javascript">
  $(function() {
    // BancoChile is the app name
    window.router = new BancoChile.Routers.CardPacksRouter({cardPacks: <%= @card_packs.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
