<h1>Edit card_pack</h1>

<form id="edit-card_pack" name="card_pack">
  <div class="field">
    <label for="challenge_id"> challenge_id:</label>
    <input type="text" name="challenge_id" id="challenge_id" value="<%= challenge_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Card pack" />
  </div>

</form>

<a href="#/index">Back</a>