# Ignore bundler config
.bundle

#compiled assets
public/assets

# default .gitignore rails 3
db/*.sqlite3
log/*.log
tmp/**/*

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store

.sass-cache

pull_push.sh

# npm modules
node_modules

config/database.yml