<h1>Edit notification</h1>

<form id="edit-notification" name="notification">
  <div class="actions">
    <input type="submit" value="Update Notification" />
  </div>

</form>

<a href="#/index">Back</a>