<h1>New notification</h1>

<form id="new-notification" name="notification">
  <div class="actions">
    <input type="submit" value="Create Notification" />
  </div>

</form>

<a href="#/index">Back</a>