<img src="<%= user.profile_image %>" alt="name user" />
<h4>Gan치ste la l치mina <%= notification.cards_in.substr(1, notification.cards_in.length - 2) %></h4>
<p>
    Felicidades! Conseguiste una nueva l치mina por <%= notification.description %>!
</p>
<% if (!notification.status){ %>
    <a class="accion js-notification-accept-btn">Ok</a>
<% } %>
<p>
    Ahora es tuya la l치mina <%= notification.cards_in.substr(1, notification.cards_in.length - 2) %>
</p>
