<img src="<%= sender.profile_image %>" alt="name user" />
<h4>Cambio de l치minas</h4>
<p>
    <span><%= sender.name %></span> te ha propuesto un cambio de l치minas
</p>
<% if (!notification.status){ %>
<a class="accion js-notification-accept-btn">Aceptar</a>
<a class="accion2 js-notification-deny-btn">Rechazar</a>
<% } %>
<p class="laminas">
    L치mina <%= notification.cards_in %> por l치mina <%= notification.cards_out %>
</p>