<img src="<%= sender.profile_image %>" alt="name user" />
<h4>Intercambio de l치mina!</h4>
<p>
    <span><%= sender.name %></span> quiere intercambiar l치minas contigo!
</p>
<% if (!notification.status){ %>
<a class="accion js-notification-accept-btn">Aceptar</a>
<a class="accion2 js-notification-deny-btn">Rechazar</a>
<% } %>
<p class="laminas">
    L치mina <%= notification.cards_in.substr(1, notification.cards_in.length - 2) %> por L치mina <%= notification.cards_out.substr(1, notification.cards_out.length - 2) %>
</p>