<p>
    <span><%= notification.name %></span><%= notification.description %>
</p>
<p class="laminas">
    <%= notification.details %>
</p>
<a class="accion" href="#">Aceptar</a>
<a class="accion2" href="#">Rechazar</a>
