<a href="#instrucciones" class="como">¿Cómo Jugar?</a>
<div class="hidden">
  <div class="light-instrucciones" id="instrucciones">
    <img src="/assets/instrucciones.jpg" />
  </div>
</div>

<!--<a href="#bases" class="bases">Bases</a>-->
<a href="http://bancochile-promociones.cl/concursos/Bases-Album-Seleccion.pdf" class="bases" target="_blank">Bases</a>
