<!-- Header -->
<div id="headerWrapper">
    <div id="header">
        <div class="logo">
            <img src="/assets/logo.png" alt="Banco de Chile" />
        </div>
    </div>
</div>

<div id="superiorWrapper">
    <div id="superior">
        <div class="cb"></div>
    </div>
</div>

<div id="mainWrapper">
    <div id="main">
        <div id="mainContainer">
        </div>
    <div class="cb"></div>
    </div>
</div>

<!-- Footer -->
<div id="footerWrapper">
    <div id="footer">
        <div class="cb"></div>
    </div>
</div>
