<div class="contenidos">
    <div class="izquierdo"></div>
    <a class="ingresar" href="#game">Mi Álbum &raquo;</a>
</div>
<h2 class="rank">Ranking</h2>
<div class="ranking-list">
</div>

<div class="marcas"><a href="javascript:;"><img src="images/fede.png" alt="" /></a></div>
<div class="acid">
    <a href="http://acid.cl/" target="_blank">
        <img src="/assets/acid.png" alt="Acid Labs" />
    </a>
</div>
<div class="cb">
</div>
