<div class="contenidos">
    <a class="comenzar" href="/facebook/login">Comenzar &raquo;</a>
</div>
<div class="ranking-list">
    <fb:facepile size="large" width="700" app_id="<%= window.fb_app_id %>">
    </fb:facepile>
</div>
<div class="cb"></div>
