<div class="contenidos">
    <a href="/facebook/login" class="comenzar">Comienza a jugar »</a>
    <div class="game-data">
    </div>
    <div class="marcas">
        <a target="_blank" href="http://www.anfp.cl/"><img alt="" src="/assets/fede.png"></a>
    </div>
    <div class="acid">
        <a target="_blank" href="http://acid.cl/">
            <img alt="Acid Labs" src="/assets/acid.png">
        </a>
    </div>
</div>
<div class="ranking-list2">
    <fb:facepile size="large" width="700" app_id="<%= window.fb_app_id %>">
    </fb:facepile>
</div>
<div class="cb"></div>
