<!-- Header -->
<div id="headerWrapper">    
    <div id="header">
        <h2>Álbum de <span>la roja!</span> 2012</h2>
        <div class="logo">
            <a href="#">
                <img src="/assets/logo.png" alt="Banco de Chile" />
            </a>
        </div>
    </div>
</div>


<div id="mainWrapper">
    <div id="main">
        <div id="mainContainer">
            <div class="contenidos">
                <div class="izq">
                    <div class="album">
                    </div>
                </div>
                <div class="der">
                    <div id="tabs">
                    </div>
                </div>
            </div>
            <h2 class="rank">Ranking</h2>
            <div class="ranking-list">
            </div>
            <div class="marcas"><a href="javascript:;"><img src="/assets/bancochile.png" alt="" /></a></div>
            <div class="marcas"><a href="javascript:;"><img src="/assets/anfp.png" alt="" /></a></div>
            <div class="acid">
                <a href="http://acid.cl/" target="_blank">
                    <img src="/assets/acid.png" alt="Acid Labs" />
                </a>
            </div>
            <div class="cb"></div>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="footerWrapper">
    <div id="footer">
        
        <div class="cb"></div>
    </div>
</div>
