<ul>
    <li>
        <a href="#tabs-1">
            Notificaciones <span class="numero"><%= notifications.length %></span>
        </a>
    </li>
    <li>
        <a href="#tabs-2">
            Consigue láminas <span class="numero"><%= challenges.length%></span>
        </a>
    </li>
</ul>
<div id="tabs-1">
    <ul class="pruebas"></ul>
</div>
<div id="tabs-2">
    <ul class="pruebas">
    <li class="tuiter"><span id="login-twitter"></span></li>
    </ul>
</div>
<div class="hidden">
    <div class="js-lightbox-container light" id="challenge-lightbox">
    </div>
</div>
