<ul>
    <li>
        <a href="#tabs-2" onclick="window.app.updateData(0)">
            Consigue láminas <span class="numero"><%= user.challengeCount %></span>
        </a>
    </li>
    <li>
        <a href="#tabs-1" onclick="window.app.updateData(1)">
            Notificaciones <span class="numero js-notifications-length"></span>
        </a>
    </li>

</ul>
<div id="tabs-1">
    <ul class="pruebas"></ul>
</div>
<div id="tabs-2">
  <% if(!user.twitter_connected){ %>
  <div class="tw-connect">
    <a href="/auth/twitter">
        <img src="/assets/connectTwitter.png"/>
    </a>
  </div>
  <% } %>
  <ul class="pruebas">
  </ul>
</div>
<div class="hidden">
    <div class="js-lightbox-container light" id="challenge-lightbox">
    </div>
</div>
