<ul>
    <li><a href="#tabs-1">Notificaciones <span class="numero">2</span></a></li>
    <li><a href="#tabs-2">Conseguir láminas <span class="numero">1</span></a></li>
</ul>
<div id="tabs-1">
    <ul class="pruebas"></ul>
</div>
<div id="tabs-2">
    <ul class="pruebas">
    <p><span id="login-twitter"></span></p>
    </ul>
</div>
<div class="hidden">
    <div class="js-lightbox-container light" id="challenge-lightbox">
    </div>
</div>
