<ul>
    <li><a href="#tabs-1">Notificaciones <span class="numero">2</span></a></li>
    <li><a href="#tabs-2">Conseguir láminas <span class="numero">1</span></a></li>
</ul>
<div id="tabs-1">
    <ul class="pruebas"></ul>
</div>
<div id="tabs-2">
    <ul class="pruebas">
    <p><span id="login-twitter"></span></p>
    <p><a href="https://twitter.com/intent/tweet?text=dummy">Tweet</a></p>
    <p><a href="https://twitter.com/intent/user?screen_name=twitterapi">Follow</a></p>
    <p><a href="https://twitter.com/intent/retweet?tweet_id=89088788592214016">Retweet</a></p>
    </ul>
</div>
<fb:like href="https://github.com/" send="true" width="450" show_faces="true"></fb:like>
<div class="hidden">
    <div class="js-lightbox-container " id="challenge-lightbox">
        <fb:like href="http://magnet.cl/" send="true" width="450" show_faces="true">
        </fb:like>
    </div>
</div>
