<ul>
    <li><a href="#tabs-1">Notificaciones <span class="numero">2</span></a></li>
    <li><a href="#tabs-2">Conseguir láminas <span class="numero">1</span></a></li>
</ul>
<div id="tabs-1">
    <ul class="pruebas">
        <li class="nueva">
            <img src="/assets/faceUser.jpg" alt="name user" />
            <h4>Cambio de láminas</h4>
            <p><span>Juan</span> te ha propuesto un cambio de láminas:</p>
            <p class="laminas"> <span class="lam1">Lámina 5</span> por <span class="lam2">Lámina 15</span></p>
            <a class="accion" href="#">Aceptar</a>
            <a class="accion2" href="#">Rechazar</a>
        </li>
        <li class="nueva">
            <img src="/assets/faceUser3.jpg" alt="name user" />
            <h4>Ganaste una lámina</h4>
            <p>Has ganado una lámina por Retweet!</p>
            <p class="laminas">Ahora es tuya la <span class="lam1">Lámina 2</span> </p>
        </li>
        <li>
            <img src="/assets/faceUser.jpg" alt="name user" />
            <h4>Cambio de láminas</h4>
            <p>Has cambiado con <span>Juan</span> las láminas:</p>
            <p class="laminas"> <span class="lam1">Lámina 50</span> por <span class="lam2">Lámina 12</span></p>
        <li>
            <img src="/assets/faceUser.jpg" alt="name user" />
            <h4>Cambio de láminas</h4>
            <p>Has cambiado con <span>Juan</span> las láminas:</p>
            <p class="laminas"> <span class="lam1">Lámina 50</span> por <span class="lam2">Lámina 12</span></p>
        </li>
    </ul>
</div>
<div id="tabs-2">
    <ul class="pruebas">
        <li class="nueva">
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. </p>
            <a class="accion" href="#">Retweet</a>
        </li>
        <li>
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet. </p>
            <a class="accion" href="#">Retweet</a>
        </li>
        <li>
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. </p>
            <a class="accion" href="#">Retweet</a>
        </li>
        <li>
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a class="accion" href="#">Retweet</a>
        </li>
        <li>
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a class="accion" href="#">Retweet</a>
        </li>
        <li>
            <img src="/assets/ejPrueba.jpg" alt="" />
            <h4>Retweet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a class="accion" href="#">Retweet</a>
        </li>                        
    </ul>
</div>
