<ul class="ranking">
    <li class="primero">
        <a href="#"><img src="/assets/faceUser3.jpg" alt="name user" /></a>
        <h4>1</h4>
        <p>35 l치m.</p>
    </li>
    <li class="segundo">
        <a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a>
        <h4>2</h4>
        <p>25 l치m.</p>
    </li>
    <li class="tercero">
        <a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a>
        <h4>3</h4>
        <p>23 l치m.</p>
    </li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li class="yo">
        <a href="#"><img src="/assets/faceUser2.jpg" alt="name user" /></a>
        <h4>Yo</h4>
        <p>13 l치m.</p>
    </li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    <a class="prev" href="#"><span class="dn">prev</span></a>
    <a class="next" href="#"><span class="dn">next</span></a>
</ul>
