<div id="user_cards"></div>

<script type="text/javascript">
  $(function() {
    // BancoChile is the app name
    window.router = new BancoChile.Routers.UserCardsRouter({userCards: <%= @user_cards.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
