<img src="/assets/ejPrueba.jpg" alt="" />
<h4><%= challenge.title %></h4>
<p><%= challenge.description %></p>
<a class="accion js-action" href="<%= challenge.href %>">
    <%= challenge.action %>
</a>
