<h1>Ingresa el código de <%= challenge.client_param %></h1>
<label for="code_<%= challenge.id %>">Código:</label>
<input type="text" name="code" id="code_<%= challenge.id %>"/>
<button class="js-send-code">Enviar Código</button>

