
<img src="assets/bannerCodigo.jpg" alt="Ingresa el código"/>
<label for="code_<%= challenge.id %>">Código:</label>
<input class="js-code-input" type="text" name="code" id="code_<%= challenge.id %>"/>
<button class="js-send-code">Enviar Código</button>

