<h1>Listing challenges</h1>

<table id="challenges-table">
  <tr>
    <th>Description</th>
    <th>N cards</th>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Challenge</a>