<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>N cards:</b>
  <%= n_cards %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Set:</b>
  <%= set %>
</p>


<a href="#/index">Back</a>