<% if(challenge.twitter_connected){ %>
<a class="accion js-twitter-btn" href="https://twitter.com/intent/retweet?tweet_id=<%= challenge.client_param %>">
  Retweet
</a>
<% }else { %>
<a class="accion" href="/auth/twitter">
  Retweet
</a>
<% } %>
