$border-color: white;
$font-color: white;
$background-color: black;

@mixin toast-element{
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    z-index:1000;
    opacity: 0;
}

.toast-element{
    @include toast-element;
}

.toast-background{

    @include toast-element;

    color: #000;
    background-color: #fff;
    border: none;
    position: absolute;
    opacity: 0.8;
}

.toast-text{
    @include toast-element;

    color: #000;
}

.toast-background, .toast-text{
    padding: 3px;
}

.toast-text{
    border-radius: 8px;
}

.toast-background-user, .toast-background-debug, .toast-text-user, .toast-text-debug {
    padding: 25px;
    z-index: 10000;
}

.toast-text-user, .toast-text-debug {
    border: 2px solid black;
}
