<div class="imageUser">
    <img src="<%= user.profileImage %>" alt="name user" />
</div>
<h1>Mi álbum</h1>
<p><span><%= user.uniqueCardsCount %></span> de <%= cards.length %></p>
<ul class="laminas">
</ul>
