<div class="imageUser">
    <img src="<%= user.profile_image %>" alt="name user" />
</div>
<h1>Mi álbum</h1>
<p><span><%= user.unique_cards_count %></span> de <%= cards.length %></p>
<ul class="laminas">
</ul>
