<h1>Listing cards</h1>

<table id="cards-table">
  <tr>
    <th>Info</th>
    <th>Name</th>
    <th>Set</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Card</a>
