<div class="repetidas">
    <img class="camiseta" src="<%= card.small_image %>">
    </img>
</div>
<div class="count">
    x<%= card.count %>
</div>
<a class="disponibles" href="">
    <span class="dn">
        Disponible
    </span>
</a>

