<div class="repetidas">
    x<%= card.count %>
</div>
<div class="camiseta" href="#">
    <%= card.id %>
</div>
<a class="disponibles" href="">
    <span class="dn">
        Disponible
    </span>
</a>
