<div class="repetidas">
    x<%= card.times %>
</div>
<a class="camiseta" href="#">
    <%= card.number %>
</a>
<a class="disponibles" href="#">
    <span class="dn">
        Disponible
    </span>
</a>
