<div class="repetidas">
    x<%= card.count %>
</div>
<a class="camiseta" href="#">
    <%= card.card_id %>
</a>
<a class="disponibles" href="">
    <span class="dn">
        Disponible
    </span>
</a>

