<h3>¡Aún no consigues esta lámina!</h3>
<p>Puedes conseguirla sperando los desafíos o intercambiando con tus amigos.</p>
<div class="amigos">
    <p class="titulo">Amigos que la tienen repetida!</p>
    <p class="bajada">Haz click sobre el amigo a quien desees solicitar esta lámina.</p>
    <ul class="listFriend">
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
        <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    </ul>
</div>
