<div class="lightbox-container light">
  <div class="imagen">
    <img src="/assets/laminaEj.jpg" alt="laminaXXXXX" />
  </div>
  <h2>
    Lámina <%= card.card_id %>
  </h2>
  <h3>Ésta lámina ya es tuya!</h3>
  <p>Felicidades!</p>
  <div class="repeticiones">
    <p class="numero">x1</p>
    <p class="titulo">Repeticiones</p>
    <p class="bajada">Ésta lámina la tienes sòlo una vez.</p>
  </div>
  <div class="amigos">
    <p class="titulo">Amigos</p>
    <p class="bajada">Tus amigos que ya la consiguieron.</p>
    <ul class="listFriend">
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
      <li><a href="#"><img src="/assets/faceUser.jpg" alt="name user" /></a></li>
    </ul>
  </div>
</div>
