<div class="js-trade-friends">
    <h3>¡Aún no consigues esta lámina!</h3>
    <p>Puedes conseguirla sperando los desafíos o intercambiando con tus amigos.</p>
    <div class="amigos">
        <p class="titulo">Amigos que la tienen repetida!</p>
        <p class="bajada">Haz click sobre el amigo a quien desees solicitar esta lámina.</p>
        <ul class="listFriend js-friend-list">
        </ul>
    </div>
</div>
<div class="laminas hidden js-trade-cards">
    <p class="titulo">¿Por cuál lámina la cambiaré?</p>
    <p class="bajada">
        Haz click sobre la lámina que quieras ofrecerle a tu amigo.
    </p>
    <ul class="listCards js-trade-card-list">
    </ul>
    <div class="confirmar js-confirm">Confirmar</div>
    <div class="error hidden js-confirm-error">Debes escoger la pámina que quieres</div>
</div>
