<h3>¡Esta lámina ya es tuya!</h3>
<p>Felicidades!</p>
<div class="repeticiones">
  <p class="numero">x1</p>
  <p class="titulo">Repeticiones</p>
  <p class="bajada">Ésta lámina la tienes sólo una vez.</p>
</div>
<div class="amigos">
  <p class="titulo">Amigos</p>
  <p class="bajada">Tus amigos que todavía no la consiguen.</p>
  <ul class="listFriend js-friend-list">
  </ul>
</div>
