<h3>Ésta lámina la tienes repetida.</h3>
<p>Puedes intercambiarla!</p>
<div class="repeticiones">
  <p class="numero">x<%= card.count %></p>
  <p class="titulo">Repeticiones</p>
  <p class="bajada">Puedes intercambiarla!</p>
</div>
<div class="amigos">
  <p class="titulo">Amigos que no la tienen</p>
  <p class="bajada">Ellos tienen láminas que te faltan!</p>
  <ul class="listFriend js-friend-list">
  </ul>
</div>
