<h1>New card</h1>

<form id="new-card" name="card">
  <div class="field">
    <label for="info"> info:</label>
    <input type="text" name="info" id="info" value="<%= info %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="set"> set:</label>
    <input type="text" name="set" id="set" value="<%= set %>" >
  </div>

  <div class="field">
    <label for="source"> source:</label>
    <input type="text" name="source" id="source" value="<%= source %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Card" />
  </div>

</form>

<a href="#/index">Back</a>