<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Álbum de la Roja!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="es" />
        <meta name="Description" content="" />
        <meta name="Keywords" content="" />
        <link href="favicon.ico" rel="shortcut icon" />
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="container">
            <%= yield %>
        </div>
    </body>
    <%= javascript_include_tag "application" %>
</html>
